#Container{
           height: 500px;
           width: 80%;
           background-color: azure;
           margin: 10px auto;
           border: 2px solid black;
           display: flex;
           flex-direction: row;
           justify-content: flex-start;
           flex-wrap: nowrap;
}

h1{
   text-align: center;
}

#Container div{
               height: 100px;
               width: 350px;
               color: white;
               text-align: center;
               font-size: 1.5em;
}

/* ---> After applying flex-wrap: nowrap; :---

   +------------------------------------------------+ 
   |                                                |
   |+----+ +----+ +----+ +----+ +----+ +----+ +----+| /*! <---- Flex Container
   ||    | |    | |    | |    | |    | |    | |    ||
   ||    | |    | |    | |    | |    | |    | |    ||
   |+----+ +----+ +----+ +----+ +----+ +----+ +----+|
   |  1       2     3      4       5     6       7  | 
   |                                     |          | 
   |                                     |          | 
   +-------------------------------------|----------+
                                         |
                                  /*! Flex Items 

*/