
body {
    height: 1500px;
    font-family: Arial, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    text-align: center;
    transition: background 0.3s;
}