div{
    height: 200px;
    width: 500px;
    background-color: pink;

    /* ---: Border Styling :--- */

    border-width: 5px;
    border-style: solid;
    border-color: yellow;

    /* ---: Border Sides :--- */

    border-left-color: blue;
    border-left-style: dashed;

    border-top-color: blueviolet;
    border-top-style: dashed;
}

h1{

    /* ---: Border Shorthand :--- */
    
    border: 2px dashed green;
}