<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
      <h2>Add Details For New User</h2>
      <br />
      <form method="POST" action="/user">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="email" name="email" placeholder="Enter Email Address">
        <input type="password" name="password" placeholder="Enter Passoword">
        <button>Add User</button>
      </form>
</body>
</html>